* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-left: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background: #9ebbe7;
  }
  
  .square {
    background: #ebebeb;
    border: 5px solid #2b779b;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
    justify-content: center;
    display:inline-flex;    
    align-items: center;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
 
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    justify-content:center;
    align-content: center;
    flex-direction: row;
  }
  
  .game-info {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-content: space-between;
  }

  .info-button {
    background: #39a6d4;
    border: 5px solid #9ebbe7;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    height: 40px;
    width: 120px;
    padding: 0;
    justify-content: center;
    display:inline-flex;    
    align-items: center;
  }
  